[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/godotengine/godot-cpp
	branch = 4.1
[submodule "box2d"]
	path = box2d
	url = https://github.com/erincatto/box2c
 	branch = main
[submodule "Godot-Physics-Tests"]
	path = Godot-Physics-Tests
	url = https://github.com/fabriceci/Godot-Physics-Tests
