# Binaries
*.os.tmp
*.o
*.dblite

# Generated directories with binaries
bin/addons/godot-box2d/bin/libgodot-box2d.macos.template_debug.framework/libgodot-box2d.macos.template_debug
bin/addons/godot-box2d/bin/libgodot-box2d.macos.template_release.framework/libgodot-box2d.macos.template_release

.DS_Store
.vscode
